<footer class="short" id="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-8">
                <h4 class="heading-primary">About Us</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus semper, eget sagittis velit venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos... <a href="#" class="btn-flat btn-xs">View More <i class="fa fa-arrow-right"></i></a></p>
                <hr class="light">
            </div>
            <div class="col-lg-3">
                <h5 class="mb-2">Contact Us</h5>
                <span class="phone">(800) 123-4567</span>
                <p class="mb-0">International: (333) 456-6670</p>
                <p class="mb-0">Fax: (222) 531-8999</p>
                <ul class="list list-icons list-icons-sm">
                    <li><i class="fa fa-envelope"></i> <a href="mailto:okler@okler.net">okler@okler.net</a></li>
                </ul>
                <ul class="social-icons">
                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                    <a href="index.html" class="logo">
                        <img alt="Porto Website Template" class="img-fluid" src="./assets/img/logos/logo-alt.png">
                    </a>
                </div>
                <div class="col-lg-11">
                    <p>© Copyright 2021. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
